*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-header: #ff6900;
    --primary-color: #ffffff;
    --bg-footer: #1a1a1a;
    --green: #008000;
    --red: #ff0000;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: var(--bg-header);
    width: 100%;
    padding: 15px 0px;
}
nav img{
    height: 30px;
}
a{
    text-decoration: none;
}
.text-white{
    color: var(--primary-color);
}
li{
    list-style: none;
}
.card{
    max-width: calc((100% / 3) - 15px);
    padding-top: 65px;
}
.box{
    position: relative;
}
.flag{
    position: absolute;
    top: 500px;
    z-index: 1;
}
main img{
    width: 100%;
}
main{
    padding-bottom: 65px;
}
.red{
    background-color: var(--red);
    color: var(--primary-color);
    padding: 5px 10px;
}
.green{
    background-color: var(--green);
    color: var(--primary-color);
    padding: 5px 10px;
}
.heart{
    position: absolute;
    background-color: var(--primary-color);
    padding: 5px 10px;
    top: 10px;
    right: 0;
    cursor: pointer;
}
.heart span{
    font-size: 26px;
}
.brand-card{
    text-transform: capitalize;
}
.title-card{
    text-transform: uppercase;
}
.price-red{
    color: var(--red );
    font-size: 14px;
}
.price-black{
    padding-left: 5px;
    font-size: 14px;
    text-decoration: line-through;
}
.p-20{
    padding-right: 20px;
}
footer{
    background-color: var(--bg-footer);
    padding: 25px 0px;
}
.p-top-15{
    padding-top: 10px;
}
.footer-right i{
    font-size: 20px;
}
.hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
}
.img:hover .hover{
    display: block;
}
.heart:hover .heart-hover{
    color: var(--red);
    display: block;
}
